
//
// VARIABLES
//

// Colors
$blue: #55acef;
$green: #55fecf;
$pale: #73958b;
$dark: #001b1f;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$tamil: "Tamil", sans-serif;
$oxford: "Oxford", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}